.card {
    text-align: center;
}

.button-alert {
    font-size: 2rem;
}

form{
    max-width: 35rem;
    align-content: center;
}

.form{
    background: #DCDCDC;
    align-content: center;
}

.left-element {
    background: green;
    display: inline-block;
    position: absolute;
    left: 0;
}

.link:hover { color: tomato }

.right-element {
    background: red;
    display: inline-block;
    position: absolute;
    right: 0;
}

input {
    width: 10rem;
}

.title{
    text-align: center;
    background: #DCDCDC;
    padding: 1em;
    font-family: "Optima";
}
