/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

input {
    margin-bottom: 10px;
}

circleGradient: {
    backgroundColor: "white"; borderRadius: 5
}

,
visit: {
    margin: 4; paddingHorizontal: 6; textAlign: "center"; backgroundColor: "white"; color: '#008f68'; fontSize: 12;
}